@import url(./__image/card__image.css);

@import url(./__restangle/card__restangle.css);

@import url(./__caption/card__caption.css);

@import url(./__button/card__button.css);

@import url(./__button-delete/card__button-delete.css);

@import url(./__button/_active/card__button_active.css);

@import url(./__like-counter/card__like-counter.css);

@import url(./__like/card__like.css);

.card {
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
